.container {
  padding: 20px;
}

.boards {
  display: flex;
  flex-wrap: wrap;
}

.boardLink {
  padding: 10px;
  border: 1px solid #000;
  margin: 10px;
  text-decoration: none;
  color: black;
}

.board {
  padding: 20px;
  border: 1px solid #000;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 30%;
  padding: 10px;
  border: 1px solid #000;
}

.card {
  padding: 10px;
  border: 1px solid #000;
  margin: 10px 0;
}

.cardActions button {
  display: block;
  margin: 5px 0;
}
